section{
    background-color: white;
    color: black;
    margin: 50px 30px;
    padding: 20px 0;
    background-image: url("../Images/about/background.jfif");
    background-size: cover;
    background-repeat: no-repeat;
}
section h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
}
section p {
    text-align: center;
    padding: 20px 70px;
}
blockquote {
    font-style: italic;
}
table {
    display: inline;
}
table img {
    width: 300px;
    height: 300px;
}

#story {
    background-size: cover;
}
canvas, button { 
    display: block;
    margin: 10px auto;
}
button {
    width: 100px;
    height: 30px;
}
#secondT{
    margin-left: 16%;
}
.map {
    position: relative;
    display: block;
    margin: 0 auto;
    animation: changePos 5s infinite;
   -webkit-animation: changePos 5s infinite;
}
@-webkit-keyframes changePos
{
   0%   {left: 5px;}
   25%  {left: 10px;}
   50%  {left: 15px;}
   100% {left:20px;}
}

@keyframes changePos
{
    0%   {left: 5px;}
   25%  {left: 10px;}
   50%  {left: 15px;}
   100% {left:20px;}
}
address {
    margin-left: 30px;
}
#story img {
    margin: 30px;
    width: 200px;
    height: 200px;
    float: right;
}

/*--- Drag and Drop ----*/
#dragdiv1,#dragdiv2{
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
  }

  #draganddrop{
      background-color: white;
      height: auto;
      color:black;
      text-align: center;
  }

  #box{
      align-items: center;
      margin-left:35% ;
      display: flex;
      flex-direction: row;
  }

  #draganddrop p{
      display: inline-block;
  }
  
.effect{
    writing-mode: vertical-rl;
  }