body {
  padding: 0;
  margin: 0;
  font-family: "Georgia", 'Times New Roman', Times, serif;
}
header {
  max-width: 100%;
  background-color: #fff;
  border-top: 5px solid #81b300;
  margin: 0 auto;
}

#moto {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
#title{
  margin: 3px;
  padding: 0;
  color: #333333;
}
#titullilogo {
    display: flex;
    flex-direction: column;
    flex-flow: column;
}
.social{
  background-color: #81b300;

  width: 250px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -1px;
}
.icon{
  width: 18x;
  height: 18px;
  padding: 10px;
  border-radius: 50%;
  background-color: #1f1f1f;
}
.icon:hover{
    background-color:#00acee;
    border: 1px solid #0e76a8;
}
#secondNav{
  font-size: 12px;
  color: #81b300;
}
#secondNav a{
  color: #81b300;
  text-decoration: none;
}
#secondNav a:hover{
  color: #384e00;
  text-decoration: none;
}
.kolonat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: #81b300;
  list-style: none;
  align-items: center;
  /* height: 70px; */
 
}

#pages {
  padding: 0;
}
#pages li{
  display: inline; 
  margin-left:1em;
  text-transform: uppercase;
  
}

#pages li a{
  text-decoration: none;
  font-size: 13px;
  line-height: 13px;
  color:white;
}
#pages li a:hover{
  color:black;
}

#search{
 margin-right: 1em;
 width: 284px;
 height: 32px;
}

#search-label{
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
width: 75%;
height: 32px;
border:none;
border-right:1px solid #dddddd;
}
#search-button{
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
width: 25%;
height:32px;
margin-left: -4px;
background-color: white;
border:none;
}

#ikonat {
  display: flex;
  flex-flow:row ;
  margin: 10px;
  padding: 10px;
}
