
body {
  padding: 0;
  margin: 0;
  font-family: "Georgia", 'Times New Roman', Times, serif;
}
header {
  max-width: 100%;
  background-color: #fff;
  border-top: 5px solid #81b300;
}

#moto {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
#title{
  margin: 3px;
  padding: 0;
  color: #333333;
}
#titullilogo {
    display: flex;
    flex-direction: column;
    flex-flow: column;
}
.social{
  background-color: #81b300;

  width: 250px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -1px;
}
.icon{
  width: 18x;
  height: 18px;
  padding: 10px;
  border-radius: 50%;
  background-color: #1f1f1f;
}
.icon:hover{
    background-color:#00acee;
    border: 1px solid #0e76a8;
}
#secondNav{
  font-size: 12px;
  color: #81b300;
  
}
#secondNav p {
  letter-spacing: 0.37px;  
  text-align: center;
  margin-top: 36.5px;
  
    
}
#secondNav a{
  color: #81b300;
  text-decoration: none;
  
}
#secondNav a:hover{
  color: #384e00;
  text-decoration: none;
}
.kolonat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 135px;
  margin-left: 30px;
  margin-right: 30px;

}

nav{
  display: flex;
  justify-content: space-between;
  background-color: #81b300;
  list-style: none;
  align-items: center;
  height: 70px;
 
}

#pages {
  padding: 0;
  margin-left: 30px;
}
#pages li{
  display: inline; 
  margin-right:18px;
  text-transform: uppercase;
  
}

#pages li a{
  text-decoration: none;
  font-size: 13px;
  line-height: 13px;
  color:white;
}
#pages li a:hover{
  color:black;
}

#search{
 margin-right: 30px;
 width: 284px;
 height: 32px;
}

#search-label{
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
width: 75%;
height: 32px;
border:none;
border-right:1px solid #dddddd;
}
#search-button{
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
width: 25%;
height:32px;
margin-left: -4px;
background-color: white;
border:none;
}

#ikonat {
  display: flex;
  flex-flow:row ;
   margin-top: 40px; 
   margin-bottom: 40px;
}
/* #ikonat img{
margin-left: 0px;
} */
#pages {
    margin-left: 30px;
}
/* ----------------- START FOOTER ----------------- */
footer {
  background-color: #3b3b3b;
  
}

#foot{
  display: flex;
}
.col{
  flex:1 1 0;
  margin-left:50px;
  height: 250px;
  overflow: auto;
}
#rights {
  clear:left;
  background-color: #2e2e2e;
  font-size: 12px;
  line-height: 14px;
  color: #737373;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#rights p{
  margin: 20px 50px;
}
#rights a{
  text-decoration: none;
  color:#737373;
}
.contactDetails h4{
  font-size: 13px;
  line-height: 16px;
  color: #666666;
  text-transform: uppercase;
}
.contactDetails p{
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}
.links h4{
  font-size: 13px;
  line-height: 16px;
  color: #666666;
  text-transform: uppercase;
}
.links a{
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  text-decoration: none;
}
.links hr {
  border: 1px solid #484848;
}
.blog h4{
  font-size: 13px;
  line-height: 16px;
  color: #666666;
  text-transform: uppercase;
}
.blog p{
  font-size: 13px;
  line-height: 16px;
  color: #999999;
}
.blog a{
  font-size: 12px;
  line-height: 14px;
  color: #81b300;
  float: right;
  text-decoration: none;
}
.newsletter h4{
  font-size: 13px;
  line-height: 16px;
  color: #666666;
  text-transform: uppercase;
}
.newsletter input {
  font-size: 13px;
  line-height: 21px;
  color: #999999; 
  padding-left: 10px;
  width: 210px;
  height: 31px;
  border: 0;
  border-radius: 7px;
  margin-top: 10px;
  background-color: #1f1f1f;
}
.newsletter button{
  border: 0;
  margin-top: 10px;
  width: 80px;
  height: 31px;
  border-radius: 7px;
  background-color: #1f1f1f;  
  color: #81b300;
}
.newsletter input:focus{
  border: 1px solid #1f1f1f;
}

/*-----Drop Down menu */
.dropdown{
  color:black;
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #74a200;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
  display: block;
}
