.elementet {
    display:flex;
    flex-direction: row;
    margin: 50px 30px 50px 30px;
    
  }
  
  .elementet article{
    margin-left:10px;
    margin-right: 10px;
    flex: 1 1 0;
  }
   
  article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 250px;
    padding: 5px;
    border:1px solid lightgray;
  }

  article .al{
    text-align: right;
    vertical-align: bottom;
    color:#81b300;
  }

  article .al a{
    color:#81b300;
    text-decoration: none;
  }

  .el1 article{
    padding: 5px;
  }
  
   .el1 article:first-child{
     background-color: lightblue;
   }
   .el1 article:nth-child(2){
    background-color: lightgreen;
  }
  .el1 article:nth-child(3){
    background-color: wheat;
  }
  .el1 article:nth-child(4){
    background-color: lightcoral;
  }
   section img{
     text-align: center;
   }
  
   hr{
     margin-left: 30px;
     margin-right: 30px;
   }

   article p{
     text-align: justify;
   }


  #slider {
    background-color: #f2f2f2;
    height: 480px;
    margin: 0;
    padding-top: 30px;
    border-bottom: 1px solid #e2e2e2;
  }
  #sliderImg {
    padding: 10px;
    border: 1px solid rgb(212, 205, 205);
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
  }
  #sliderImg img {
    height: 360px;
    width: 100%;
  }
  #sliderImg img.show {
    animation: show .5s;
    animation-fill-mode: both;
  }
  @keyframes show {
    from {
        transform:scale(0.85);
        opacity:0
    }
    to {
        transform: scale(1);
        opacity:1
    }
  }
  #sliderImg img.hide {
    animation: hide .5s;
    animation-fill-mode: both;
  }
  @keyframes hide {
    from {
        transform:scale(1);
        opacity:1
    }
    to {
        transform:scale(0.7);
        opacity:0
    }
  }
  .arrow:hover{
    transform: scale(1.3);
    cursor: pointer;
  }
  #controls {
    width: fit-content;
    margin: 20px auto;
  }
  .imgAnchor:hover {
    fill: #f2f2f2;
    transform: scale(1.1);
    cursor: pointer;
  }