@font-face {
    font-family: 'newFont';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
body {
    margin:0;
}
main {
    font-family: 'newFont' , Arial, Helvetica, sans-serif;
}
#disclaimer {
    background-color: rgb(236, 236, 236);
    height: auto;
    text-align: center;
    padding: 5% 50px;
    font-size: 1.1rem;
}
#disclaimer img {
    width: 50px;
    height: 50px;
    float:left;
}
#disclaimer p{
    margin-bottom: 30px;
}
#disclaimer ol {
    text-align: left;
}
#shop table {
    margin: 50px 30px;
    border-radius: 3px;
    text-align: center;
    border-collapse: collapse;
}
caption {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#shop tbody tr td img{
    width: 70px;
    height: 50px;
}
#shop tbody tr td img:hover{
    transform: scale(2) translateX(20px) rotate(-90deg);
}
#btn {
    height: 20px;
    color:  #81b300;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.15);
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    border-left: 10px solid #81b300;
    margin-top: 30px;
    display: block;
    margin-bottom: 30px;
}
#btn:hover{
    color:white;
    transition: background-color 0.8s ease;
    background-color:  #81b300;
}
#partners table {
    margin: 30px
}
#partners table tr td {
    padding-right: 180px;
    transform: skew(10deg, 0);
}
#partners table img{
    width: 70px;
    height: 50px;
}
#partners {
    border : 1px dashed black;
}
figcaption{
    margin-top:20px;
}
#partners table img{
    -webkit-animation: transformimi3d 4s infinite linear;
            animation: transformimi3d 4s infinite linear;
  }
  
  @-webkit-keyframes transformimi3d {
    from {
      -webkit-transform: translateX(0) rotateX(0deg) rotateY(0deg) rotateZ(0);
              transform: translateX(0) rotateX(0deg) rotateY(0deg) rotateZ(0);
    }
    to {
      -webkit-transform: translateX(10px) rotateX(10deg) rotateY(360deg) rotateZ(360deg);
              transform: translateX(10px) rotateX(10deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  
  @keyframes transformimi3d {
    from {
      -webkit-transform: translateX(0) rotateX(0deg) rotateY(0deg) rotateZ(0);
              transform: translateX(0) rotateX(0deg) rotateY(0deg) rotateZ(0);
    }
    to {
      -webkit-transform: translateX(10px) rotateX(10deg) rotateY(360deg) rotateZ(360deg);
              transform: translateX(10px) rotateX(10deg) rotateY(360deg) rotateZ(360deg);
    }
  }